{% extends 'admin_nav.html' %}
{% load static %}
{% block content %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
{% if error == "no" %}
     <script>
	   alert('Record Save Successfully');
       window.location=('{% url 'view_doctor' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

<br><br><br><br>
<div class="container card shadow m-5">
		<div class="card-body">
			<h5 class="p-2" style="border-bottom: 2px solid orange">Add Doctors</h5>
             <br>
			<div class="container-fluid">
				<form method="post">
                    {% csrf_token %}
					<div class="form-row">

						<div class="col-sm-12">
							<div class="form-group">
								<label>Doctor Name</label>
								<input type="text" name="name" class="form-control" placeholder="Enter Doctor Name" required>
							</div>
						</div>

                    	<div class="col-sm-12">
							<div class="form-group">
								<label>Contact Number</label>
								<input type="text" name="mobile" class="form-control" placeholder="Enter Ten Digit Mobile Number" required>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label>Specialization</label>
								<input type="text" name="special" class="form-control" placeholder="Enter Doctor Specialization" required>
							</div>
						</div>

                      </div>

					<hr>
					<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>

</body>
</html>
{% endblock content %}